@font-face {
    font-family: open-sans;
    src: url("../font/opensans.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../font/opensansbold.ttf");
}

@font-face {
    font-family: niconne;
    src: url("../font/niconne.ttf");
}

* {
    overflow: hidden;
    box-sizing: border-box;
    font-family: open-sans;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    scrollbar-color: #0080ff transparent;
    scrollbar-width: thin;
    outline: 0px solid transparent;
    border-radius: 5px;
}

body {
    background-color: transparent;
    color: black;
    width: auto;
    /*It's set in js script*/
    height: auto;
    overflow: hidden;
    font-family: open-sans, sans-serif;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

#popup-content {
    width: auto;
    /*It's set in js script*/
    height: auto;
    /*It's set in js script*/
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    position: relative;
    background-color: #0080ff;
}

.section-popup {
    position: relative;
    width: 350px;
    height: auto;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 0px;
}

.background-primary {
    background-color: #0080ff;
    color: #ffffff;
}

.section-border-bottom {
    border-bottom: 1px solid #eeeeee;
}

#buy-me-a-coffee-section {
    font-size: 12px;
    cursor: pointer;
    margin: 0px;
    padding: 5px;
}

#text-toggle-section {
    grid-area: text;
    padding: 10px;
}

#switch-toggle-section {
    grid-area: switch;
    text-align: right;
    padding: 0px;
    position: relative;
    overflow: visible;
    width: 45px;
    margin: auto;
}

#toggle-section {
    position: relative;
    width: 350px;
    height: auto;
    padding: 0px 20px;
    margin: 0px;
    background-color: #ffffff;
    font-size: 18px;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #0080ff;

    display: grid;
    grid-template-areas: 'text text text switch';
    grid-gap: 0px;

    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 0px;
}

#toggle-container {
    width: 40px;
    height: 20px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;
}

#toggle-background {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #0080ff55;
    border: 0px solid transparent;
    position: absolute;
    top: 5px;
}

#toggle-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0080ff;
    border: 0px solid transparent;
    position: absolute;
    top: 0px;
    fill: #ffffff;
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center center;

    /*to switch to off, change:
    left:auto
    right:0px
    background-image:url("../img/no.png")*/
    left: auto;
    right: 0px;
    background-image: url("../img/yes.png");
}

#toggle-thumb:hover, .select-category:hover {
    box-shadow: 0px 0px 0px 2px #0080ff55;
    z-index: 2;
}

#toggle-thumb:active {
    box-shadow: 0px 0px 0px 5px #0080ff66;
    z-index: 2;
}

#details-section {
    padding: 0px;
}

#details-container {
    position: relative;
    width: 350px;
    height: auto;
    padding: 5px 20px;
    margin: 0px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #0080ff;

    display: grid;
    grid-template-areas:
            'time-spent time-spent time-spent'
            'text1 text1 value1'
            'text2 text2 value2';
    grid-gap: 5px;
    border-radius: 0px;
}

.grid-item {
    padding: 0px 10px;
    border-radius: 0px;
}

.grid-item-time-spent {
    grid-area: time-spent;
    text-align: center;
}

.grid-item-text1 {
    grid-area: text1;
    border: 0px solid transparent;
    border-right: 2px solid #0080ff;
}

.grid-item-value1 {
    grid-area: value1;
}

.grid-item-text2 {
    grid-area: text2;
    border: 0px solid transparent;
    border-right: 2px solid #0080ff;
}

.grid-item-value2 {
    grid-area: value2;
}

.select-category {
    background-color: transparent;
    color: #0088ff;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px solid transparent;
    margin: 3px !important;
}

.grey {
    color: #dddddd;
}

.limite-text {
    font-family: niconne;
}

.button {
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    background-color: #0080ff;
    color: #ffffff;
    width: auto;
    box-sizing: border-box;
    display: inline-block;
}

.section-link {
    width: auto;
    background-color: #0080ff;
    color: #ffffff;
    cursor: pointer;
}

.button:hover, .section-link:hover {
    background-color: #2c96ff;
}

.button:active, .button:focus, textarea:focus, textarea:active, .select-category:active, .select-category:focus {
    box-shadow: 0px 0px 0px 2px #0080ff66, 0px 0px 0px 5px #84c0ff66;
    border-radius: 5px;
    z-index: 2;
}

textarea {
    width: 100%;
    height: 300px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    resize: none;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
    overflow: auto;
}

#all-websites-dedication-section {
    background-color: #eeeeee;
    padding: 5px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border-radius: 0px;
}

.section, .sub-section, .section-empty {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.section-empty {
    padding: 50px;
    text-align: center;
    color: #2c96ff;
}

.sticky-section {
    position: sticky;
    top: 0px;
    z-index: 4;
}

#navigator-days {
    background-color: #0080ff;
    margin: 5px;
    margin-bottom: -5px;
    position: sticky;
    top: 40px;
    z-index: 4;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: auto;
    height: 40px;
}

.nav-days-fixed {
    background-color: #0080ffaa !important;
    border-radius: 5px !important;
}

.nav-days-fixed:active, .nav-days-fixed:hover {
    background-color: #0080ff !important;
    border-radius: 5px !important;
}

table {
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

.table-days, #all-websites-sections, #table-section {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.table-days * {
    border-radius: 0px;
}

.sub-section {
    background-color: #eeeeee;
    padding: 10px;
}

tr {
    background-color: #eeeeee;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #0090ff33;
}

.status-enabled {
    background-color: #196c1944;
    color: #007e00;
    border-radius: 0px;
}

.status-disabled {
    background-color: #8a111144;
    color: #b70101;
    border-radius: 0px;
}

.since-install-time {
    background-color: #2c96ff44;
    border-radius: 0px;
}

.yellow {
    background-color: #ffd40044;
    border-radius: 0px;
}

.orange {
    background-color: #FF7C0044;
    border-radius: 0px;
}

.red {
    background-color: #ff000044;
    border-radius: 0px;
}

.button-delete, .button-copy, .button-import, .button-export, .button-refresh {
    padding-left: 30px;
    padding-right: 10px;
    background-image: url("../img/delete.svg");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#button-delete-single {
    width: 25px;
    padding: 0px;
    background-position: center center;
    background-size: 60% auto;
}

.button-copy {
    background-image: url("../img/copy.svg");
}

.button-import {
    background-image: url("../img/import.svg");
}

.button-export {
    background-image: url("../img/export.svg");
}

.button-refresh {
    background-image: url("../img/refresh.svg");
}

#background-opacity {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    display: none;
    z-index: 100;
    border-radius: 0px;
}

#import-section, #export-section {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.background-transparent {
    background-color: transparent;
}

.background-light-red {
    background-color: #ffbcbc;
}

.button-code {
    background-color: #0080ff55;
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.padding-left-55-px {
    padding-left: 55px;
}

.padding-left-30-px {
    padding-left: 30px;
}

.small-button {
    font-size: 12px;
    height: 27px;
}

.very-small-button {
    font-size: 10px;
    height: 25px;
}

h1, h2, h3 {
    color: #2c96ff;
    font-size: 30px;
    font-family: open-sans-bold;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    display: inline-block;
}

h2, th {
    color: #0080ff;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    font-family: open-sans;
    height: 35px;
    white-space: nowrap;
}

th {
    min-width: 70px;
    font-size: 14px;
    background-color: #0080ff;
    color: #ffffff;
    border-radius: 0px;
}

td {
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
}

td:first-child {
    text-align: left;
}

h3 {
    color: #0080ff;
    font-size: 14px;
    padding: 3px;
    font-family: open-sans;
    height: 25px;
}

.go-to-external {
    transition: 0s;
    padding-right: 20px;
}

.go-to-external:hover::after {
    content: url('../img/open-external.svg');
    top: 12px;
    margin-left: 5px;
    position: absolute;
}

.section-selected {
    background-color: #bee0ff;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.bold, strong {
    font-family: open-sans-bold;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-right-5-px {
    margin-right: 5px;
}

.margin-top-5-px {
    margin-top: 5px;
}

.margin-left-5-px {
    margin-left: 5px;
}

.margin-left-minus-50-px {
    margin-left: -50px;
}

.margin-left-minus-20-px {
    margin-left: -20px;
}

.overflow-auto {
    overflow: auto;
}

.no-padding {
    padding: 0px;
}

.width-100-perc {
    width: 100%;
}

/*categories*/
.other-category, .social-category, .travel-category, .news-category, .education-category, .shopping-category, .search-category, .reference-category, .entertainment-category, .adults-category, .sav22999-category, .develop-category, .messaging-category, .games-category, .health-category {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom -10px right -10px;
}

.other-category {
    background-image: url("../img/categories/other.svg");
}

.social-category {
    background-image: url("../img/categories/social.svg");
}

.travel-category {
    background-image: url("../img/categories/travel.svg");
}

.news-category {
    background-image: url("../img/categories/news.svg");
    background-size: auto 110%;
}

.education-category {
    background-image: url("../img/categories/education.svg");
}

.shopping-category {
    background-image: url("../img/categories/shopping.svg");
}

.search-category {
    background-image: url("../img/categories/search.svg");
    background-position: bottom -5px right -10px;
}

.reference-category {
    background-image: url("../img/categories/reference.svg");
}

.entertainment-category {
    background-image: url("../img/categories/entertainment.svg");
}

.adults-category {
    background-image: url("../img/categories/adults.svg");
}

.sav22999-category {
    background-image: url("../img/categories/sav22999.svg");
}

.develop-category {
    background-image: url("../img/categories/develop.svg");
}

.messaging-category {
    background-image: url("../img/categories/messaging.svg");
    background-size: auto 110%;
}

.games-category {
    background-image: url("../img/categories/games.svg");
}

.health-category {
    background-image: url("../img/categories/health.svg");
}